@media screen and (min-width: 600px) {

    body {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    .nav {
        background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        overflow: hidden;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 40px;


     }

     .nav a {
         float: left;
         text-align: center;
         padding: 10px 15px;
         text-decoration: none;
         color: aquamarine
     }

     .nav a:hover {
         background-color: azure;
         color: lawngreen;
     }

     .nav a.active {
         background-color: dimgray;
         color: white;
     }

    a {
        color: aquamarine;
        font-size: 30px;

    }




     }



@media (max-width: 599px) {

    body {
        width: auto;
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }


   .nav {
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow: hidden;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;

 }

 .nav a {
     float: left;
     text-align: center;
     padding: 10px 15px;
     text-decoration: none;
     color: aquamarine
 }

 .nav a:hover {
     background-color: azure;
     color: lawngreen;
 }

 .nav a.active {
     background-color: dimgray;
     color: white;
 }

 a {
    color: aquamarine;
    font-size: 15px;

}

}
